---
import Layout from "../layouts/Layout.astro";
import Nosotros from "../components/Nosotros.astro";
---

<Layout title="Sobre Nosotros">
  <main class="px-5 max-w-[1200px] mx-auto">
    <Nosotros />
  </main>
</Layout>
