---
import CursosTalleres from "./CursosTalleres.astro";
---

<aside>
  <h3 class="text-[32px] font-bold mt-8 md:mt-0 mb-5">
    Nuestros Cursos y Talleres
  </h3>

  <CursosTalleres
    titulo="Técnicas de Extracción de Café"
    precio="Gratis"
    cupo="20"
    url="/cursos"
  />

  <CursosTalleres
    titulo="4 Recetas de Café para Principiantes"
    precio="Gratis"
    cupo="30"
    url="/cursos"
  />
</aside>
