---
interface Props {
  titulo: string;
  precio: string;
  cupo: string;
  url?: string;
}

const { titulo, precio, cupo, url = "#" } = Astro.props;
---

<div
  class="border-b border-solid border-black last:border-none border-opacity-20"
>
  <h3 class="text-[28px] font-bold my-5">{titulo}</h3>
  <p class="text-[20px] my-5 font-PTSans">
    <span class="font-bold">Precio:</span>
    {precio}
  </p>
  <p class="text-[20px] my-5 font-PTSans">
    <span class="font-bold">Cupo:</span>
    {cupo}
  </p>
  <a
    class="text-white bg-[#784D3C] text-lg uppercase font-bold py-3 px-8 block w-full text-center leading-9 mb-8 font-PTSans"
    href={url}>Mas Información Sobre Nuestros Cursos</a
  >
</div>
