---
import NavPrincipal from "./NavPrincipal.astro";
---

<header
  class="h-[600px] w-full bg-[url('/banner.webp')] bg-center bg-cover bg-no-repeat py-10"
>
  <NavPrincipal />
  <h2
    class="text-white text-center text-[40px] font-bold mt-12 md:mt-40 leading-[48px]"
  >
    Blog de café con consejos y cursos
  </h2>
  <p class="text-white text-center leading-8">
    Aprende de los expertos con las mejores recetas y consejos
  </p>
</header>
