<div class="md:flex justify-between mx-auto w-[min(90%,1200px)]">
  <h1 class="text-5xl text-white text-center">
    <a href="/">Blog<span class="font-bold">DeCafé</span></a>
  </h1>
  <nav
    class="flex flex-col md:flex-row items-center text-white text-lg mt-3 md:gap-3"
  >
    <a class="w-full text-center p-1" href="/sobreNosotros">Nosotros</a>
    <a class="w-full text-center p-1" href="/cursos">Cursos</a>
    <a class="w-full text-center p-1" href="/contacto">Contacto</a>
  </nav>
</div>
