<section>
  <h2 class="text-[2rem] text-center font-bold my-5">Sobre Nosotros</h2>
  <div class="md:grid grid-cols-2 gap-5">
    <img
      src="/nosotros.jpg"
      alt="Distintos cafés de distintos sabores y decoraciones"
    />
    <div class="leading-[2rem] my-6 md:my-0">
      <p class="mb-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi numquam
        dolorum quo, error laudantium quae aliquid omnis dolore repudiandae,
        sapiente quasi minima! Sapiente atque, numquam accusantium rem id minima
        odit reprehenderit a quibusdam velit adipisci libero quis corporis quas
        nobis fugit dolore fugiat natus optio cumque voluptatibus maiores
        aspernatur temporibus facere? Tenetur illum reiciendis magnam tempora
        consectetur accusantium odio similique.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero,
        aspernatur dicta, incidunt inventore placeat perferendis asperiores
        sapiente cupiditate repellendus, nulla ullam aliquid officia delectus
        dolores? Est repellat sed aliquam similique libero eligendi? Voluptate,
        accusamus. Repudiandae, qui. Natus saepe officia iusto error, id
        repellendus ut quibusdam suscipit? Quidem neque vitae ab ad rerum natus,
        fuga sunt velit mollitia quaerat, architecto id accusantium quo.
        Temporibus repellendus perferendis distinctio minima! Voluptatem, labore
        esse!
      </p>
    </div>
  </div>
</section>
