---
import Entrada from "./Entrada.astro";
---

<section>
  <h3 class="font-bold text-[32px] mb-6">Nuestro Blog</h3>
  <Entrada
    imagen="/blog1.webp"
    imagenAlt="Café en cuchara cafetera"
    subtitulo="Tipos de granos de cafe"
    texto="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptatibus architecto, nostrum corrupti dolorem illo dolore deserunt consectetur eveniet magni voluptates itaque deleniti numquam adipisci dolor nisi commodi hic at?"
  />

  <Entrada
    imagen="/blog2.webp"
    imagenAlt="Un postre acompañado de un café"
    subtitulo="3 Deliciosas Recetas de Café"
    texto="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptatibus architecto, nostrum corrupti dolorem illo dolore deserunt consectetur eveniet magni voluptates itaque deleniti numquam adipisci dolor nisi commodi hic at?"
  />

  <Entrada
    imagen="/blog3.webp"
    imagenAlt="Una taza de café sobre una mesa elegante"
    subtitulo="Beneficios del Café"
    texto="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptatibus architecto, nostrum corrupti dolorem illo dolore deserunt consectetur eveniet magni voluptates itaque deleniti numquam adipisci dolor nisi commodi hic at?"
  />
</section>
